.feynman__link {
  display: flex;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  transition: opacity, 0s, ease-out, 1s;
}

.feynman__link:hover {
  opacity: 0.5;
}